.cont-table-and-header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}

.header-alert {
  width: 100%;
  height: auto;
  background: #5e0101;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.input-search {
  width: 300px;
  height: 40px;
  padding-left: 10px;

}